.friendListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgb(255, 255, 255) -1px -1px 1px, rgb(186, 204, 203) 2px 2px 2px;
}

.statusMarker {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background-color: limegreen;
}

.offline {
  background-color: red;
}

.friendsName {
  font-size: 18px;
  font-weight: bold;
  color: darkslateblue;
}
